{% comment %}
  Renders product item

  Accepts:
  - product: {Object} main product

  Usage:
  {% render 'product-item', product: product %}
{% endcomment %}

<a data-product-id="{{ product.selected_or_first_available_variant.id }}" class="tw-flex tw-gap-2.5" href="/products/{{ product.handle }}" target="_blank">
    <div class= "tw-w-[88px] tw-h-[100px] tw-relative">
        <img
            src="{{ product.featured_media.preview_image | image_url }}"
            alt="{{ product.title }}"
            class="tw-absolute tw-top-0 tw-left-0 tw-size-full tw-object-cover tw-object-top"
        >
    </div>
    <div class="tw-flex tw-flex-col tw-justify-between">
        <div>
            <h5 class="tw-text-[14px] tw-font-bold tw-leading-normal tw-text-left tw-text-base-850 tw-line-clamp-1">
                {{ product.title }}
            </h5>
            <p class="text-[12px] tw-font-normal tw-leading-normal tw-text-left tw-m-0">
                {{ product.type }}
            </p>
        </div>
        <p class="text-[12px] tw-font-normal tw-text-left ">
            SKU: {{ product.selected_or_first_available_variant.sku }}
        </p>
        {% render 'price-new', product: product %}
    </div>
</a>